---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$light-gray1:  #f2f2f3;
$light-gray2:  #e0e1e3;
$light-gray3:  #cfd0d2;
$light-gray4:  #bbbdc0;
$medium-gray4: #6c6f76;
$dark-gray2:   #44464b;
$dark-gray3:   #2e2f32;
$dark-gray4:   #131315;
// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$darkest-blue: #000f3a;
$blue: #01256e;
$lighter-blue: #045ea7;
$darkest-red: #57000a;
$red: #95001a;
$yellow: #f2c100;
$lightest-blue: #82afd3;
$darker-orange: #ac3c00;

$text-color:       $dark-grey2;
$background-color: #fdfdfd;
$brand-color:      $blue;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
