@font-face {
  font-family: "Bebas Neue";
  font-weight: normal;
  src: url("/fonts/bebas-neue/BebasNeueRegular.otf") format("opentype");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: bold;
  src: url("/fonts/bebas-neue/BebasNeueBold.otf") format("opentype");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: 300;
  src: url("/fonts/bebas-neue/BebasNeueBook.otf") format("opentype");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: 200;
  src: url("/fonts/bebas-neue/BebasNeueLight.otf") format("opentype");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: 100;
  src: url("/fonts/bebas-neue/BebasNeueThin.otf") format("opentype");
}
