<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    <div class="wrapper">
      {% include navbar.html %}

      {{ content }}
      <div class='footer-push'></div>
    </div>

    {% include footer.html %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- load jQuery from CDN, or if that fails, then use our own version -->
    <script>window.jQuery || document.write('<script src="{{'/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"><\/script>')</script>
    <script src="{{'/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>

